
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ff0000, #ff4500, #ff7f00, #ffa500, #ffd700);
}





.App {
  text-align: center;
  padding: 20px;
}



.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  border: 1px solid red; /* Add this line to set the red border for the movie cards */
  padding: 10px;
  margin: 10px;
  width: 200px;
  background-color: white; /* Optionally, add this line to set the card background to white */
}

.movie h2 {
  margin-bottom: 10px;
}


h1 {
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: flex;
}

.review-list {
  margin-top: 20px;
}

.review {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
}

.star {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
}

.star-filled {
  color: #ffd700;
}

.review-form {
  margin-top: 20px;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000204;
}